streamlit
langchain
langchain-google-genai
chromadb
python-dotenv
unstructured
markdown
python-magic
nltk
nest-asyncio
langchain-community
langchain-huggingface
FlagEmbedding
sentence-transformers
huggingface_hub
langchain-chroma
pydantic>=2.0.0
instructor
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.0.0
transformers>=4.30.0
accelerate
pysqlite3-binary